/* ========== BASE (Mobile-first) ========== */
:root {
  --Light-purple: #666ca3;
  --dark-blue: #13183f;
  --gray: #83869a;
  --pink: #f74780;
  --light-pink: #ffa7c3;
  --white: #ffffff;
  --gradient-pink: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  --light-grd-pink: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  ),
  linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  --gradient-purple: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
  --light-grd-purple: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  ),
  linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 414px;
  padding: 0 25px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  line-height: 50.4px;
  color: var(--dark-blue);
  font-weight: 800;
}

h3 {
  font-size: 24px;
  line-height: 32px;
  color: var(--white);
}

h4 {
  font-size: 20px;
  line-height: 25.2px;
  color: var(--dark-blue);
}

.paragraph {
  font-size: 16px;
  line-height: 26px;
  color: var(--gray);
}

.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  padding: 15px 37px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  border-radius: 28px;
}

.button-blue {
  background-color: var(--dark-blue);
}
.button-blue:hover {
  background: var(--Light-purple);
}

.button-gradient {
  background: var(--gradient-pink);
}
.button-gradient:hover {
  background: var(--light-grd-purple);
}

.button-purple {
  background: var(--gradient-purple);
}
.button-purple:hover {
  background: var(--light-grd-purple);
}

header {
  padding: 22px 0;
}

.text1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header {
  margin: 38px 0 20px;
}

.text2 {
  max-width: 343px;
}

.text2 .paragraph {
  margin: 26px 0 24px;
}

.mobile-img {
  display: block;
  width: 100%;
  margin-top: 70px;
}
.mobile-img img {
  width: 100%;
}

.courses {
  margin: 80px 0;
}

.info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.description {
  border-radius: 10px;
  background: var(--white);
  padding: 24px 29px 32px 28px;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.044);
  position: relative;
}
.description > img {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}
.description:first-child {
  background: var(--gradient-pink);
}

.card-link {
  color: var(--pink);
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
}
.description .paragraph {
  margin: 24px 0;
}

footer {
  background: var(--dark-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 16px;
}

body:after {
  display: none;
}

/* ========== DESKTOP STYLES (min-width) ========== */
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1440px;
    padding: 0 300px 0 165px;
  }

  h1 {
    font-size: 56px;
    line-height: 70.56px;
  }

  h3 {
    font-size: 32px;
    line-height: 40px;
  }

  h4 {
    font-size: 24px;
    line-height: 30px;
  }

  .paragraph {
    font-size: 18px;
    line-height: 28px;
  }

  .button {
    font-size: 18px;
    line-height: 28px;
    padding: 19px 31px 16px 32px;
  }

  .main-header {
    margin-bottom: 240px;
  }

  .text2 {
    max-width: 457px;
  }

  .mobile-img {
    display: none;
  }

  body:after {
    display: block;
    content: url(../assets/image-hero-desktop.png);
    position: absolute;
    right: 0;
    top: 0;
    width: 791px;
    height: 731px;
    transform: translate(10%, -20%);
    z-index: -1;
  }

  .info {
    grid-template-columns: repeat(3, 350px);
    gap: 80px 30px;
  }

  footer {
    padding: 32px 165px;
  }
} 
